 body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    color: #333;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
}

.window-container {
    display: flex;
    gap: 30px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    max-width: 1200px;
    height: 80vh;
}

.header {
    background-color: #b7b7b7;
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    font-size: 1rem;
    color: white;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000;
}

/* Styling for each window */
.window {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#displayMessages {
    overflow-y: auto;
    flex-grow: 1;
    height: calc(80vh - 150px);
    border: 0px;
    padding: 10px;
    border-radius: 6px;
}

#displayMessages div{
    background: #f0f0f0;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: left;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-bar-button-container {
    width: 30%;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.code-container {
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: 0px;
}

.line-numbers {
    width: 20px; 
    color: #b7b7b7;
    background: white;
    padding-right: 7px;
    text-align: right;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 1rem;
    font-size: 1rem;
    font-family: monospace;
    padding-top: 2px; 
}

#code {
    flex-grow: 1;
    border: 0;
    font-size: 1rem;
    line-height: 1rem;
    font-family: monospace;
    transition: border-color 0.3s;
    overflow: auto;
    white-space: pre;
    padding-top: 2px;
}

#messageInput:focus, #code:focus {
    border-color: #4a90e2;
    outline: none;
}

button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.sendandresbutton {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    width: 40%; 
}

.sendandresbutton button {
    flex: 1; 
    padding: 10px 0; 
    text-align: center;
}

.secondbutton {
    background-color: red;
}

.secondbutton:hover{
    background-color: rgb(218, 26, 26);
}

button:hover {
    background-color: #3a78c0;
}

button:active {
    transform: scale(0.95);
}

#codeSubmit.pass {
    border-color: #5CBCA9;
}

#codeSubmit.fail {
    border-color: #d65252;
}

#buttonSubmitCode {
    margin: auto;
    width: 45%;
}

#buttonRunTests {
    margin: auto;
    width: 45%;
    background-color: white;
    color: #4a90e2;
    border: 1px solid #4a90e2;
}

.PASS {
    color: green;
}

.PASS div {
    color: #333;
}

.FAIL {
    color: red;
    
}

.FAIL div{
    color: #333;
}

.testResults-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.testResults {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}

.testResult {
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 6px;
}

.active.testResult {
    background-color: #e6e6e6;
}

.testResults div:last-child {
    margin-right: 0;
}

.testResults::-webkit-scrollbar {
    height: 8px;
}

.testResults::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.testResults::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.selectedTab-container {
    height: 100%;
    overflow: auto;
}

/* Style the tab content */
.selectedTab-container > div{
  display: none;
  overflow: hidden;
}

.selectedTab-container div.active {
  display: flex;
}

#code-container {
    height: 100%;
}